<!DOCTYPE html>
<html>
<head>
  <meta charset = "utf-8">
  <title>Some Website</title>
</head>
<body>
  {{> header}} {{! {> file name} directing towards the file with name header}}
  <p>{{ScreamIt Welcome}}</p>
  <p>Lorem ipsum</p>
  {{> footer}}
</body>
</html>
